{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="d-flex flex-column app-container bg-light">
		<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
			{% include('includes/admin/_navbar.html.twig') %}
		</nav>

		<main class="container d-flex flex-fill my-4">
			<div class="sidebar d-flex align-items-start bg-white shadow">
				{% include('includes/admin/_sidebar.html.twig') %}
			</div>

			<div class="image"></div>
			<div class=" flex-fill shadow ms-4"></div>

		</main>
		<footer class="bg-dark text-center text-white">
			{% include('includes/admin/_footer.html.twig') %}
		</footer>
	</div>

{% endblock %}
