<div class="nav flex-column nav-pills p-3">
	<div id="folder-product" class="nav-link link-dark" type="button">
		<i class="angle fa-solid fa-angle-right mx-1 text-muted"></i>
		<i class="folder fa-solid fa-folder text-primary"></i>
		<span>Produits</span>
	</div>

	<div id="subfolder-product" class="d-none mb-3">
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-primary pb-1 me-1"></i>
			<a class="under-link nav-link link-secondary p-0" type="button" href="#">Liste</a>
		</div>
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-primary pb-1 me-1"></i>
			<a class=" under-link nav-link link-secondary p-0" type="button" href="#">Nouveau</a>
		</div>
	</div>

	<div id="folder-category" class="nav-link link-dark" type="button">
		<i class="angle fa-solid fa-angle-right mx-1 text-muted"></i>
		<i class="folder fa-solid fa-folder text-success"></i>
		<span>Catégories</span>
	</div>

	<div id="subfolder-category" class="d-none mb-3">
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-success pb-1 me-1"></i>
			<a class="nav-link link-secondary p-0" type="button" href="#">Liste</a>
		</div>
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-success pb-1 me-1"></i>
			<a class="nav-link link-secondary p-0" type="button" href="#">Nouveau</a>
		</div>
	</div>

	<div id="folder-subcategory" class="nav-link link-dark" type="button">
		<i class="angle fa-solid fa-angle-right mx-1 text-muted"></i>
		<i class="folder fa-solid fa-folder text-warning"></i>
		<span>Sous Catégories</span>
	</div>

	<div id="subfolder-subcategory" class="d-none mb-3">
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-warning pb-1 me-1"></i>
			<a class="nav-link link-secondary p-0" type="button" href="#">Liste</a>
		</div>
		<div class="d-flex ms-5 mb-2 d-flex align-items-center">
			<i class="fa-solid fa-l text-warning pb-1 me-1"></i>
			<a class="nav-link link-secondary p-0" type="button" href="#">Nouveau</a>
		</div>
	</div>

</div>
