<header>
	{% include('shop/includes/_navbar.html.twig') with { categories }  %}
	<div class="title flex-column-center">
		<h1></h1>
		<p class="opacity-anim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatibus accusamus eaque blanditiis amet at inveritatis assumenda dolorem facere beatae sint possimus, fuga sunt.
		</p>
		<div class="flex-column-center scale-anim">
			<img class="rotate-anim" src="https://cdn.pixabay.com/photo/2020/03/09/21/31/moon-4917183_960_720.png" alt="planet">
			<i class="icon-title-header fas fa-angle-double-down translateBottom-anim"></i>
			<a id="btn-header" class="btn btn-primary translateBottom-anin">Nos offres</a>
		</div>
	</div>
</header>
