<nav id="navbar-account">
	<a class="link" href=" {{path('home')}} ">
		<i id="logo" class="fas fa-dove"></i>
	</a>
	<form>
		<input class="form-control" type="search" placeholder="chercher..."/>
		<i class="fas fa-search icon-search"></i>
	</form>
	<ul>

		{% if app.user %}
			<li>
				<a class="link user-link" href="#">
					<i class="fas fa-user"></i>
				</a>
				<small id="user-profile" class="opacity-anim-link">Mon compte</small>
			</li>
			<li>
				<a class="link user-link" href="#">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
				<small id="user-logout" class="opacity-anim-link">Déconnexion</small>
			</li>
			<li>
				<a class="link user-link" href="#">
					<i class="fas fa-shopping-basket link"></i>
				</a>
				<small id="user-shopping" class="opacity-anim-link">Panier</small>
			</li>
		{% else %}
			<li>
				<a class="link user-link" href="#">
					<i class="fa-solid fa-right-to-bracket"></i>
				</a>
				<small id="user-login" class="opacity-anim-link">Connexion</small>
			</li>
			<li>
				<a class="link user-link" href="#">
					<i class="fa-solid fa-user-plus"></i>
				</a>
				<small id="user-register" class="opacity-anim-link">Inscription</small>
			</li>
		{% endif %}
		<li>
			<i class="fs-2 fas fa-bars"></i>
		</li>
	</ul>
</nav>
<nav id="navbar-products">
	<ul>
		<li class="link-container">
			<a class="link" href="{{path('home')}}">
				Accueil
			</a>
		</li>
		{% for category in categories %}
			<li class="link-container" id="{{category.name}}">
				<span class="link">
					{{ category.name }}
					<i class="fas fa-caret-down "></i>
				</span>
			</li>
		{% endfor %}
	</ul>
</nav>
