.filter {
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.734);
	top: 0;
	height: 100%;
	width: 100%;
}

.text-dark {
	color: $text;
}

.text-light {
	color: $text-light;
}

.mx-4 {
	margin: 0 4px;
}

.opacity-anim {
	animation: $opacity-anim;
}

.opacity-anim-link {
	animation: $opacity-anim-link;
}



.translateLeft-anim {
	animation: $translateLeft-anim;
}

.translateBottom-anim {
	animation: $translateBottom-anim;
}

.translateBottom-animForm {
	animation: $translateBottom-animForm;
}

.translateTop-anim {
	animation: $translateTop;
}

.scale-anim {
	animation: $scale-anim;
}

.rotate-anim {
	animation: $rotate-anim;
}

.box-shadow-primary {
	box-shadow: 0px 2px 3px $primary-light;
}

.link {
	transition: all 0.3s;
	color: $text-light;
	cursor: pointer;

	&:hover {
		color: $primary;
	}
}

.flex-row-end {
	@include flex(row, end, none);
}

.flex-column-center {
	@include flex(column, center, center);
}

.title {
	@extend %title;
}

.form-control {
	border: none;
	width: 70%;
	margin: 1.5rem auto;
	padding: .6rem;
	border-bottom: 1px solid $gray-light;
	background-color: transparent;

	&::placeholder {
		color: $text;
		font-size: 1.4rem;
	}

	&:focus {
		background-color: transparent;
		color: $text;
		outline: none;
		border: none;
		border-bottom: 1px solid $primary;
	}
}

.exit {
	position: absolute;
	right: 0;
	top: 0;
	margin: 1.5rem;
	cursor: pointer;
	color: $text;
}

//button

.btn {
	padding: 1rem 2rem;
	font-weight: 600;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;

	&-primary {
		color: $primary;
		background-color: rgba(0, 0, 0, 0.2);
		border: 1px solid $primary-light;

		&:hover {
			color: $text-light;
			background-color: rgba(0, 0, 0, 0.4);
			box-shadow: 0px 2px 3px $primary-light;
		}
	}

	&-secondary {
		background-color: rgba(0, 0, 0, 0.1);
		color: $secondary;
		border: 1px solid $secondary-light;

		&:hover {
			color: $secondary;
			box-shadow: 0px 2px 3px $secondary-light;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	&-form {
		color: $secondary;
		border: 1px solid $secondary;

		&:hover {
			color: #fff;
			background-color: $secondary;
		}
	}
}