%flex-row {
	display: flex;
	flex-direction: row;
}

%flex-column {
	display: flex;
	flex-direction: column;
}

%card {
	cursor: pointer;
	box-shadow: 1px 3px 8px #9c9c9c5b;
	padding: 2rem;
	border-radius: 4px;
	background-color: #fff;
	color: $text;
	font-size: 1.3rem;
	line-height: 2.5rem;
	transition: all 0.3s;


	p {
		font-weight: 700;
		color: $secondary;
		margin-top: 2rem;
	}

	small {
		counter-reset: $text-light;

	}

	&:hover {
		transform: scale(1.04);
	}
}

%title {
	width: 70%;
	margin: auto;
	padding: 2rem 0;
	text-align: center;

	h1 {
		font-size: 4rem;
		letter-spacing: 3px;
		color: $primary;
		opacity: 0.8;
	}

	h2 {
		font-size: 4rem;
		color: $secondary;
	}

	p {
		width: 80%;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
		font-style: italic;
		color: $text-light;
	}

	img {
		margin-top: 2rem;
		width: 10rem;
		transform-origin: center;
	}

	.icon-title-header {
		color: $primary;
		margin: 1rem 0;
	}
}